<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <style>
        .body {
            margin-left: 30px;
            margin-right: 30px;
            background-color: rgb(243, 237, 237);
        }
        .let{
            letter-spacing: 4px;
            font-size: 14px;
        }
    </style>
</head>

<body class="body">
    <div > <img src="http://localhost:9000/uploads/templates/logo.png" width="50" height="50"
            style="float: right;">
        <h3>hello</h3>
        <b class="let">{{id.name}}</b>

        <p>{{id.age}}</p>
        <hr>
        <a>{{id.school}}</a>
    </div>

    {{!-- name of company and date --}}

    {{!-- product details in a table --}}





</body>

</html>